html{
 text-align: center ;
 font-size: small;
}

table{
    width: 50%;
    text-align: center ;
    margin-left: auto;
    margin-right: auto;
}
th, td{
    border: 1px solid black;
    height: 30px;
}
input[type=text] {
    width: 200px;
    padding: 5px;
    margin: 5px 0;
}
button {
    padding: 5px 10px;
    margin-top: 10px;
}
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "ACTUALIZAR-USUARIO USUARIO ."
      ". . ."
      ". . .";
  }
  
  .ACTUALIZAR-USUARIO { grid-area: ACTUALIZAR-USUARIO; }
  
  .USUARIO { grid-area: USUARIO; }
  