html {
    text-align: center;
    font-size: small;
}

table {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid black;
    height: 30px;
}

input[type=text] {
    width: 200px;
    padding: 5px;
    margin: 5px 0;
}

button {
    padding: 5px 10px;
    margin-top: 10px;
}

.usa {
    display: grid;
    background-color: blanchedalmond;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu imag usuario"
        "naveg . .";
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "naveg . .";
}

.container {
    display: grid;
    grid-template-columns: fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "ACTUALIZAR-USUARIO ACTUALIZAR-USUARIO USUARIO";
}

.usuario {
    grid-area: usuario;
}

.imag {
    grid-area: imag;
}

.datos {
    grid-area: datos;
}

.usa img {
    max-width: 100%;
    height: auto;
}

.naveg {
    grid-area: naveg;
}

.ACTUALIZAR-USUARIO {
    grid-area: ACTUALIZAR-USUARIO;
}

.USUARIO {
    grid-area: USUARIO;
}

.user-menu {
    position: relative;
    display: inline-block;
    background-color: blanchedalmond;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-picture {
    background-color: blanchedalmond;
    max-width: 10%;
    height: auto;
    border-radius: 20%;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    border-radius: 5px;
}

.dropdown-content a p {
    color: #000000;
    padding: 16px 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown-content a i {
    margin-right: 10px;
}

.username {
    color: #000000;
}

:root {
    --main-color: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
}

.main-header {
    width: 100%;
    height: 50px;
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    top: 50px;
    height: calc(100vh - 50px);
    background: blanchedalmond;
    ;
    transform: translateX(-100%);
    transition: .4s ease;
}

.men li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.men a {
    color: var(--main-color);
    display: block;
    line-height: 3.5;
    padding: 0 10px;
    text-decoration: none;
    transition: .4s ease;
}

.men a:hover {
    transform: translateX(10%);
}

#btn-nav {
    display: none;
}

#btn-nav:checked~nav {
    transform: translateX(0);
}

.btn-nav {
    color: var(--main-color);
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    padding: 6.5px 15px;
    transition: .2s ease;
    background: rgba(0, 0, 0, .1);
}

.btn-nav:hover {
    background: rgba(0, 0, 0, .3);
}

.ter {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

